<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pay My Buddy</title>
</head>


<body>

<div th:replace="fragments/nav"></div>


<!-- SECTION -->
<div class="d-flex p-2 container-fluid justify-content-center">
    <div class="row">
        <div class=" col-5 col-lg-5">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h2 class="mt-4">Users</h2>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">user_id</th>
                            <th class="text-left">first_name</th>
                            <th class="text-left">last_name</th>
                            <th class="text-left">email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${users}">
                            <td th:text="${user.userID}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}" width="150"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" col-7 col-lg-7">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h2 class="mt-4">Accounts</h2>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">user (id)</th>
                            <th class="text-left">iban</th>
                            <th class="text-left">bic</th>
                            <th class="text-left">bank</th>
                            <th class="text-left">balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="accounts: ${accounts}">
                            <td th:text="${accounts.accountOwner.firstName+' '+accounts.accountOwner.lastName+' ('+accounts.accountOwner.userID+')'}"
                                width="300"></td>
                            <td th:text="${accounts.iban}"></td>
                            <td th:text="${accounts.bic}"></td>
                            <td th:text="${accounts.bankEstablishment}"></td>
                            <td th:text="${accounts.balance}+ €"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex p-2 container-fluid justify-content-center">
    <div class="row">
        <div class=" col-6 col-lg-6">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h2 class="mt-4">Transactions</h2>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">reference</th>
                            <th class="text-left">date</th>
                            <th class="text-left">message</th>
                            <th class="text-left">amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transactions: ${transactions}">
                            <td th:text="${transactions.reference}"></td>
                            <td th:text="${transactions.date}"></td>
                            <td th:text="${transactions.message}"></td>
                            <td th:text="${transactions.amount+' €'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" col-6 col-lg-6">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h2 class="mt-4">Fees</h2>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">fee_id</th>
                            <th class="text-left">date</th>
                            <th class="text-left">rate100</th>
                            <th class="text-left">amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="fee: ${fees}">
                            <td th:text="${fee.feeId}"></td>
                            <td th:text="${fee.date}"></td>
                            <td th:text="${fee.rate100}"></td>
                            <td th:text="${fee.amount}+' €'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#" class="text-dark">About</a></li>
                    <li class="list-inline-item text-dark">&middot;</li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Terms of use</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>