<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
      xmlns:sec="http://thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pay My Buddy</title>
</head>

<body>

<div th:replace="fragments/nav"></div>


<!-- SECTION -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">Send money</h5>
                    <form method="post" th:action="@{/user/new-transfer}" th:object="${transaction}">
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-md-5">
                                <label for="debtor">Debtor</label>
                                <select id="debtor" class="form-control" th:field="*{debtor}">
                                    <option th:value="${'null'}" selected>Choose your account...</option>
                                    <th:block th:each="account: ${myAccounts}">
                                        <th:block th:if="${account.deleted == false}">
                                        <option th:value="${account.iban}"
                                                th:text="${account.iban+' ('+account.balance+'€)'}">Choose your
                                            account...
                                        </option>
                                        </th:block>
                                    </th:block>
                                </select><span class="text-danger" th:errors="*{debtor}">test</span>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="creditor">Creditor</label>
                                <select id="creditor" class="form-control" th:field="*{creditor}">
                                    <option th:value="${'null'}" selected>Choose contact account...</option>
                                    <th:block th:each="account: ${contactAccount}">
                                        <th:block th:if="${account.deleted == false}">
                                        <option th:value="${account.iban}"
                                                th:text="${account.accountOwner.firstName+' '+account.accountOwner.lastName+' ('+account.iban+')'}">
                                            Choose contact account...
                                        </option>
                                        </th:block>
                                    </th:block>
                                </select><span class="text-danger" th:errors="*{creditor}">test</span>
                            </div>
                            <div class="form-group col-md-2">

                                <label for="amount">Amount</label>
                                <div class="d-flex">

                                <input type="number" id="amount" class="form-control" min="0" th:field="*{amount}">
                                <div class="input-group-append"><span class="input-group-text">€</span>
                                </div></div><span class="text-danger" th:errors="*{amount}">testes</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="form-group col-md-11">
                                <label for="message">Message</label>
                                <div class="d-flex">
                                    <input type="text" id="message" class="form-control" th:field="*{message}">
                                </div><span class="text-danger" th:errors="*{message}">test</span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" th:data-confirm="|You will be withdraw with an additional fee equals to ${feeRate} percent of the amount.|" onclick="if(!(confirm(this.getAttribute('data-confirm')))) return false">Send money</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">My transactions</h5>
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">ref.</th>
                            <th class="text-left">from</th>
                            <th class="text-left">to</th>
                            <th class="text-left">date</th>
                            <th class="text-left">message</th>
                            <th class="text-left">amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction: ${transactions}">
                            <td th:text="${transaction.reference}"></td>
                            <td th:style="${transaction.debtor.deleted == true} ? 'color:red;' : 'color:black;'" th:text="${transaction.debtor.iban}"></td>
                            <td th:style="${transaction.creditor.deleted == true} ? 'color:red;' : 'color:black;'" th:text="${transaction.creditor.iban}"></td>
                            <td th:text="${transaction.date}"></td>
                            <td th:text="${transaction.message}"></td>
                            <td th:text="${transaction.amount+' €'}"></td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#" class="text-dark">About</a></li>
                    <li class="list-inline-item text-dark">&middot;</li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Terms of use</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>