<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Pay My Buddy</title>
</head>

<body>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div th:replace="fragments/nav"></div>
        </div>
    </div>
</div>

<!-- SECTION -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h5 class="card-title">Titre</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
                        quidem iste facilis iure doloribus quas repudiandae, corrupti deleniti nostrum odit earum
                        voluptatibus vitae molestiae, at aspernatur odio enim assumenda necessitatibus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#" class="text-dark">About</a></li>
                    <li class="list-inline-item text-dark">&middot;</li>
                    <li class="list-inline-item"><a href="#" class="text-dark">Terms of use</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>